<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/css/style.css">
  <script src="public/js/jquery-2.2.4.min.js"></script>
  <title>Template Creator @ News Article Templating System</title>
</head>

<body>
  {{ template "Navbar.html" }} 
  <br>
  <h1>Create an article</h1>
  <form action="/submit_article" method="POST">
    <input type="text" maxlength="60" name="title" required="required" placeholder="Title">
    <br>
    <textarea cols="50" rows="10" name="text" required placeholder="Article Content" maxlength="40000"></textarea>
    <br>
    <input type="submit" value="Create" class="btn btn-secondary">
  </form>
</body>

</html>
