<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="public/css/style.css">
  <title>News Article Templating System</title>
</head>

<body>
  <h1>Search for an article</h1>
  <form action="/">
    <input type="text">
    <input type="submit" value="Search">
  </form>
  <a href="/article_template">
    <h1>Create an article instead</h1>
  </a>
</body>

</html>
