<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="public/js/jquery-2.2.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/css/style.css">
  <title>News Article Templating System</title>
</head>

<body>
  {{ template "Navbar.html" }}
  <br>
  <h1>Articles:</h1>
  <div class="previews">
    <br>
    {{ if .articles }}
    {{ range .articles }}
    <hr>
    <a href=http://localhost:9000/article/{{ .Id }}/{{ urlquery .Title}}>
      <h3>{{ .Title }}</h3>
    </a>
    </hr>
    {{ end }}
    <hr>
    {{ end }}
  </div>
</body>

</html>
