<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  <title>{{ .title }} @ News Article Templating System</title>
</head>


<body>
  {{ template "Navbar.html" }} 
  <div class="content">
  	<br>
	<h1>{{ .title }}</h1> <strong>Created:</strong> {{ .timestamp }}
  	<hr>
  	<br>
  	<p>{{ .text }}</p>
  </div>
</body>

</html>
