<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/public/js/jquery-2.2.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <title>{{ .title }} @ News Article Templating System</title>
</head>


<body>
  {{ template "Navbar.html" }} 
  <div class="content">
  	<br>
	<h1>{{ .title }}</h1> <strong>Created:</strong> <a id="localTime"></a>
  	<hr>
  	<br>
  	<p>{{ .text }}</p>
  </div>
</body>

<script>
	document.getElementbyid("localTime").innerHTML = moment().format(\'{{ .timestamp }}\');
</script>
</html>
