<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <title>News Article Templating System</title>
</head>

<body>
    <h1>{{ .message }}</h1>
    <br>
    {{ if .articles }}
    	{{ range .articles }}	
    		<hr>
		<a href=http://localhost:9000/article/{{ .Id }}/{{ urlquery .Title}}><h3>{{ .Title }}</h3></a>
		</hr>
	{{ end }}
	<hr>
    {{ end }}
    </hr>
</body>

</html>
