<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <title>News Article Templating System</title>
</head>

<body>
    <h1>{{ .message }}</h1>
    <br>
    {{ range .articles }} 
	<hr>
	<!{{ template "Post.html" }}! going to implement the loading of template post here>
	</hr>
    {{ end }}
</body>

</html>
